{% extends 'base.html' %}

{% block content %}
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="text-center mb-4">Kayıt Ol</h2>
      <form method="POST">
        <div class="mb-3">
          <label for="first_name" class="form-label">Ad</label>
          <input type="text" class="form-control" id="first_name" name="first_name" required>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Soyad</label>
          <input type="text" class="form-control" id="last_name" name="last_name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-posta</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Şifre</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary w-100 mt-3">Kayıt Ol</button>
      </form>
      

      <a href="{{ url_for('login') }}" class="btn btn-secondary w-100 mt-3">Giriş Sayfasına Dön</a>
    </div>
  </div>
  <footer class="bg-dark text-white text-center py-3 mt-4 fixed-bottom">
    &copy; Ayazoglu Yazılım - 2025 Stok Yönetimi Uygulaması | Tüm Hakları Saklıdır.
</footer>
{% endblock %}
